<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Loan_Schedule_Generator.Properties.Settings.cn" connectionString="Data Source=DESKTOP-UT15VPE;Initial Catalog=TestDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Loan_Schedule_Generator.Properties.Settings.cn_db_Loan"
            connectionString="Data Source=DESKTOP-UT15VPE;Initial Catalog=db_Loan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>